.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 1rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.container h1 {
    font-size: 2rem;
}

.time {
    position: relative;
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
    overflow: hidden;
    
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    padding: 2px 4px 6px;
    margin: -2px -4px -6px;
}

.time::before{
    content: "";
	position: absolute;
	top:0;right:0;bottom:0;left:-100%;
	background: white repeating-linear-gradient(45deg, #a83eb6 0%, #4d8bbe 16.66666%, #7fd177 33.33333%, #e7ff14 50.0%, #ff0000 66.66666%, #ff00e0 83.33333%, #14ffe9 100.0%);
	mix-blend-mode: screen;
	pointer-events: none;
    animation: move 1s linear infinite;
}

@keyframes move{
  0%{transform: translateX(0);}
  100%{transform: translateX(50%);}
}

@supports not (mix-blend-mode: multiply) {
	.rainbow-text{
	-webkit-text-fill-color: transparent;
	background-clip: text !important;
	background: white repeating-linear-gradient(45deg, #1453ff, #4d8bbe, #7fd177, #e7ff14, #ff0000, #ff00e0, #14ffe9);
    text-shadow: none;
	}
	.rainbow-text::before{ content: none; }
}

